In [18]:
import string
import pandas as pd
import numpy as np

In [3]:
t=pd.Series([1,3,42,52,31,1,2])
t

0     1
1     3
2    42
3    52
4    31
5     1
6     2
dtype: int64

In [14]:
t=pd.Series([1,3,42,52,31,1,2],index=list("abcdefg"))
print(t)
t=pd.Series([1,3,42,52,31,1,2],index=[string.ascii_uppercase[i] for i in range(7)])
print(t)
t=t.astype(float)
print(t)

a     1
b     3
c    42
d    52
e    31
f     1
g     2
dtype: int64
A     1
B     3
C    42
D    52
E    31
F     1
G     2
dtype: int64
A     1.0
B     3.0
C    42.0
D    52.0
E    31.0
F     1.0
G     2.0
dtype: float64

In [15]:
dic={"name":"Rex","age":23,"height":181}
t=pd.Series(dic)
print(t)
print(t["age"])
print(t[1])

name      Rex
age        23
height    181
dtype: object
23
23

In [19]:
t=pd.DataFrame(np.arange(24).reshape(4,6))
t

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23

In [22]:
t=pd.DataFrame(np.arange(24).reshape(4,6),index=[string.ascii_uppercase[i] for i in range(4)],columns=[string.ascii_uppercase[i] for i in range(19,25)])
t

    T   U   V   W   X   Y
A   0   1   2   3   4   5
B   6   7   8   9  10  11
C  12  13  14  15  16  17
D  18  19  20  21  22  23

In [25]:
diclist=[{"name":"Rex","age":23,"height":181},{"name":"Zunrui","age":18,"height":178}]
t=pd.DataFrame(dic)
print(t)

     name  age  height
0     Rex   23     181
1  Zunrui   18     178

In [26]:
dic={"name":["Rex","Zunrui","Alice","Bob"],"age":[23,18,35,28],"height":[181,178,161,175]}
t=pd.DataFrame(dic)
print(t)

     name  age  height
0     Rex   23     181
1  Zunrui   18     178
2   Alice   35     161
3     Bob   28     175

In [28]:
print(t)
t=t.sort_values(by="age",ascending=False)
print(t)

     name  age  height
1  Zunrui   18     178
0     Rex   23     181
3     Bob   28     175
2   Alice   35     161
     name  age  height
2   Alice   35     161
3     Bob   28     175
0     Rex   23     181
1  Zunrui   18     178